.git
.gitignore
.vscode
.idea
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/debugbar
bootstrap/cache/*.php
public/hot
public/storage
dist
.env
.env.*
!.env.example
Dockerfile*
compose.yaml
